<!-- Manny Campbell, Nathan Gray, Manny Lee, Philip Vishnevsky, Natalie Tepedino -->

{% extends 'base.html' %}

{% block content %}
<!-- Displaying students who have been registered -->
<h1 class="lpad">Registered Students</h1>
<p class="lpad">The following students have already registered for an organization:</p>
<!-- Table containing registration info -->
<table style="width: 80%;">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Organization</th>
        </tr>
    </thead>
    <tbody>
        {% for name, org in registered.items() %}
            <!-- Loop through registered users to display their info -->
            <tr>
                <td>{{ name }}</td>
                <td>{{ org }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}