
<!DOCTYPE html>
<html lang="en">
    <style>
    body {
        font-family: Helvetica, sans-serif;
        line-height: 1.5;
        background: linear-gradient(red, orange, yellow);
        color: white;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
    </style>
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Date and Time</title>
</head>
<body>
    <h1>Current Date and Time</h1>
    <p>The current date and time are: {{ current_time }}</p>
</body>
</html>