/*CSS Reset and General Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    background: linear-gradient(#6d9773,#fff);
    color: #0c3b23;
    min-height: 100vh;
}

input textarea select {
    font: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*Header Area Styles*/
header {
    background-color: #0c3b23;
    color: #fff;
}

h1 {
    padding-left: 0.5rem;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0.5rem;
}

nav ul{
    text-align: right;
    padding-top: 0;
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

nav li {
    font-size: 1.5rem;
}

nav a {
    color: white;
}

nav a:hover, a:active {
    border-bottom: 4px solid #6d9773;
}


/*Main Content Area Styles*/
main {
    background-color: white;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 0;
}

h2 {
    color: #ffba00;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 10px 6px -6px #6d9773;
}


/*Footer Area Styles*/
footer {
    background-color: #0c3b2e;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.font-sm {
    font-size: 0.8rem;
}


/*Home Page Styles*/
main li {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 1em 1em;
    padding-left: 1.5em;
    background-position: 0 0.2em;
}

.indent-right {
    padding-left: 1em;
}

main a {
    color: #6d9773;
}
 main a:active, a:hover {
    border-bottom: 2px solid #6d9773;
}


/*Menu Page Styles*/
table {
    width: 50%;
    border: 3px solid #6d9773;
    border-collapse: collapse;
}

thead tr {
    background-color: #6d9773;
    color: white;
}

th, td {
    text-align: center;
    padding: 0.5em;
}

tbody tr:nth-child(4n) {
    border-bottom: 3px solid #6d9773;
}

caption {
    text-align: right;
    font-style: italic;
    font-weight: bold;
}


/*Reservations Page Styles*/
input[type="text"],[type="email"],[type="tel"],[type="number"],[type="datetime-local"],textarea {
    border: 2px solid #0c3b2e;
    margin-bottom: 0.5rem;
    width: 60%;
    padding: 0.6em;
}

textarea {
    height: 8em;
}

input[type="submit"] {
    background-color: #0c3b2e;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
}
